.chakra-accordion__button {
    padding-inline-start: 0px !important;
}

.blue-rect {
    /* Rectangle 7 */
    width: 4px;
    height: 24px;

    /* Main brand Mauve/Main brand */
    background: #4e73f8;
    border-radius: 4px;
}

.invis-rect {
    /* Rectangle 7 */
    width: 4px;
    height: 24px;

    /* Main brand Mauve/Main brand */
    background: transparent;
    border-radius: 4px;
}

.icon {
}

.blue {
    background-color: #4e73f8;
}
