.main-table thead tr > :last-child {
    background-color: rgba(248, 248, 248, 1);
    position: sticky;
    z-index: 1;
    right: 0;
    top: 0;
}

.main-table tbody tr > :last-child {
    background-color: rgba(248, 248, 248, 1);
    position: sticky;
    z-index: 1;
    right: 0;
}
