* {
    font-family: "Montserrat";
}

body {
    margin: 0;
    font-family: "Montserrat" !important;
    /*    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply px-4 py-2 font-semibold rounded-md shadow-md;
}

.btn-green {
    @apply text-white bg-green-500 hover:bg-green-700;
}

.btn-blue {
    @apply text-white bg-blue-500 hover:bg-blue-700;
}

.input_field {
    @apply w-full h-12 px-4 py-2 text-xs border border-gray-300 rounded-md focus:outline-none;
}

.input_field:focus {
    border: 0.5px solid #4e73f8;
}

.login_label {
    @apply text-sm font-semibold tracking-wide text-black;
    margin-right: auto;
}

.forget-password {
    color: #4e73f8;
    float: right;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500px;
}

.footer-container {
    margin-top: 1rem;
    padding-bottom: 10px;
}

.wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
}

.eye-icon {
    position: absolute;
    top: 35%;
    right: 5%;
    cursor: pointer;
}

.login-error {
    @apply shadow-inner;
    background: #ff4b6e14;
    color: #f06767;
    height: 48px;
    border: 1px solid #f06767;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    background-size: contain;
    background-position: center;
    height: 60vh;
    background-repeat: no-repeat;
}

.login_input_req {
    @apply font-medium tracking-wide;
    font-size: 12px;
    color: #f06767;
    float: right;
}

.bck-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 30%;
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-form-primary {
    @apply justify-center w-1/2 p-3 font-semibold text-white transition rounded-md shadow-md cursor-pointer hover:bg-blue-500;
    background-color: #4e73f8;
    /* font-family: montserrat; */
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.btn-primary {
    @apply bg-blue-550 hover:bg-blue-500;
}

.btn-form-cancel {
    @apply p-3 px-3 mb-1 ml-4 text-sm font-semibold text-gray-500 transition-all duration-150 ease-linear outline-none focus:outline-none;
    /* font-family: montserrat; */
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

input[type="radio"] + label span {
    transition: background 0.2s, transform 0.2s;
    background-color: white;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span {
    transform: scale(1.2);
}

input[type="radio"]:checked + label span {
    background-color: #4e73f8;
    box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label {
    color: #4e73f8;
}

.skv-btn-primary {
    background-color: #4e73f8 !important;
    color: white !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    height: 48px !important;
}

.excel-btn {
    justify-content: center;
    align-items: center;
    padding: 8px;

    width: 154px;
    height: 40px;

    /* Green/Green5 */

    background: rgba(7, 162, 135, 0.08);
    border-radius: 4px;

    color: #07a287 !important;
    font-size: 14px !important;
    line-height: 22px !important;
}

.pdf-btn {
    justify-content: center;
    align-items: center;
    padding: 8px;

    width: 154px;
    height: 40px;

    /* Red/red5 */

    background: rgba(244, 60, 60, 0.08);
    border-radius: 4px;
    color: #fc5050;
    font-size: 14px !important;
    line-height: 22px !important;
}

svg {
    display: inline-block !important;
}
.custom-radio {
    height: 1.5rem;
    width: 1.5rem;
    border-width: 1px;
    border-radius: 9999px;
    display: inline-block;
    margin-inline-end: 0.5rem;
    border-color: #e9ebec;
    margin-inline-start: 0px;
    flex-shrink: 0;
}

.radio-wrapper {
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: 0px !important;
    --tw-text-opacity: 1;
    margin-right: 10px !important;
}

.req_label {
    font-weight: 600;
    letter-spacing: 0.025em;
    font-size: 12px;
    color: #ff0000;
}

.progress_line {
    background: linear-gradient(
        to bottom,
        white calc(50% - 5px),
        #f1f2f3 calc(50% - 5px) calc(50% + 5px),
        white calc(50% + 5px)
    );
}

.icon-right {
    margin-left: auto;
}

.table-pg {
    width: min-content;
}

.custom-file-input {
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: "Choose Photo (png , jpg , jpeg)";
    display: inline-block;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 12pt;
    margin-top: 3px;
    background-color: transparent;
    color: black;
}

.material-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.material-file-input {
    height: 48px;
}
.material-file-input::before {
    display: inline-block;
    border-radius: 3px;
    height: 48px;
    padding: 5px 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 12pt;
    margin-top: 3px;
    background-color: transparent;
    color: black;
}

input[type="file"] {
    height: 48px;
    background: white;
}
input[type="file"]:focus {
    outline: none !important;
}
::file-selector-button {
    font-size: initial;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(to bottom, #e3e3e3, #f9f9f9);
}

.custom-file-input:focus {
    outline: none;
    box-shadow: none;
}

.linkContainer:after {
    content: "";
    position: absolute;
    /* z-index: -1; */
    /* height: 100%; */
    height: 2.5rem;
    border-left: 5px dotted lightgrey;
    margin-left: 10px;
    /* margin-top: 10px; */
    right: 77%;
}

.no-padding {
    padding: 0px;
}

.customIcon chakra-select__icon-wrapper {
    margin-inline-start: 20px;
}

.rstm-toggle-icon {
    display: inline-block;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.rstm-tree-item-level0 {
    @apply font-semibold text-sm px-10 text-black py-2;
}

.rstm-tree-item-level1,
.rstm-tree-item-level2 {
    @apply font-semibold text-xs px-10 py-2;
    color: #5a6474;
}

.cursorButton {
    align-self: center;
    padding: 10px;
}

.chakra-accordion__item {
    border-top-width: 0px !important;
}

.chakra-accordion__item:last-of-type {
    border-bottom-width: 0px !important;
}

/* thead tr > :last-child {
    background-color: rgba(248, 248, 248, 1);
    position: sticky;
    z-index: 3;
    right: 0;
    top: 0;
}

tbody tr > :last-child {
    background-color: rgba(248, 248, 248, 1);
    position: sticky;
    z-index: 1;
    right: 0;
} */

.inbox-cell {
    /* width: 20px; */
}

.bck-grey {
    background-color: #fbfbfb;
}

.mailEditor {
    height: 100%;
    min-height: 300px;
    width: 100%;
}

.rdw-list-dropdown {
    z-index: 0 !important;
}

.rdw-text-align-dropdown {
    z-index: 0 !important;
}

.mailEditor {
    border: 1px;
    border-style: solid;
    border-color: gainsboro;
}

.mailModal {
    margin-top: 0.5rem !important;
}

.checkBoxStyle {
    @apply w-4 h-4 mt-1 mr-2 align-top transition duration-200 bg-white bg-center bg-no-repeat bg-contain border border-gray-300 rounded-sm appearance-none cursor-pointer focus:outline-none;
}

.centerAllignArrow {
    align-self: center;
    cursor: pointer;
}

.vl {
    border-left: 2px solid #c3c7ce;
    height: 20px;
}
.scrollableList::-webkit-scrollbar {
    width: 4px;
}
.scrollableList::-webkit-scrollbar-track {
    background: #e6eaf0;
    border-radius: 20px;
}
.scrollableList::-webkit-scrollbar-thumb {
    background-color: #4e73f8;
    border-radius: 20px;
}

.hide-10s {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        display: none;
    }
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        display: none;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        display: none;
    }
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        display: none;
    }
}

.material-viewer {
    @apply overflow-y-auto;
    max-height: 600px;
    margin: auto;
}

.material-viewer .react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-viewer .react-pdf__Page {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.react-select-container {
    @apply text-xs text-black border-gray-50;
}
.react-select__value-container {
    padding: 5px 8px !important;
    @apply text-xs text-black border-gray-50;
}
.react-select__input-container {
    @apply text-xs text-black border-gray-50;
}
.react-select__control {
    @apply py-1 text-xs text-black border-gray-50;
}

.react-select__option,
.react-select__menu-list {
    @apply text-xs text-black;
}

.btn-green-rounded {
    @apply flex justify-center w-full p-3 font-semibold tracking-wide text-gray-100 transition duration-500 ease-in bg-green-400 rounded-full shadow-lg cursor-pointer hover:bg-green-500;
}

.btn-blue-squared {
    @apply flex justify-center w-full p-3 font-semibold tracking-wide text-white transition duration-500 ease-in rounded-md shadow-lg cursor-pointer hover:bg-blue-500;
    background-color: #4e73f8;
    /* font-family: montserrat; */
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.login-main-header {
    @apply mb-4 text-2xl font-semibold text-gray-800;
    text-align: center;
}

.login-sub-header {
    @apply mb-10 text-gray-500;
    text-align: center;
}

.app-heading {
    margin: auto @apply mb-20;
}

.logo {
    margin: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 65px;
    background-color: #4e73f8;
    color: #fff;
    text-align: center;
    padding: 4px 11px 4px 11px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 100%;
    margin-left: -60px;
    box-shadow: 0px 4px 87px rgba(90, 100, 116, 0.06);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #4e73f8 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
